@model MyDealDouble.Web.viewModels.CategoriesListingViewModel

<table class="table table-hover">
	<thead>
		<tr>
			<th>
				Name
			</th>
			<th>
				Description
			</th>
			<th>
				Auctions
			</th>
			<th>
				Actions
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var category in Model.Categories)
		{
			<tr>
				<td>
					@category.Name
				</td>
				<td>
					@category.Description
				</td>
				<td>
					@category.Auctions.Count()
				</td>
				<td>
					<button class="editButton btn btn-primary" data-id="@category.ID" data-toggle="modal" data-target="#formModal"><i class="fas fa-edit"></i> Edit</button>
					<button class="deleteButton btn btn-danger" data-id="@category.ID" data-toggle="modal" data-target="#deleteModal"><i class="fas fa-trash-alt"></i> Delete</button>
				</td>
			</tr>
		}
	</tbody>
</table>

<script>
	$(".editButton").click(function () {
		$.ajax({
			url: "@Url.Action("Edit", "Categories")",
			method: "get",
			data: {
				ID: $(this).attr("data-id")
			}
		}).done(function (response) {
			$("#contentArea").html(response);
			$('#formModal').modal('toggle');
		});
	});

	$(".deleteButton").click(function () {
		$('#deleteModal').modal('toggle');
		$('#mDeleteButton').attr("data-recordID", $(this).attr("data-id"));
	});
</script>
