@model  MyDealDouble.Web.viewModels.CreateAuctionViewModel
@{
	ViewBag.Title = "Create";
}

<div class="modal-header">
	<h5 class="modal-title" id="exampleModalLongTitle">Create Auction</h5>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<form id="CreateForm" action="/Auctions/Create" method="post">

	<div class="modal-body">
		<div class="form-group">
			@Html.Label("Title :")
			<input name="Title" class="form-control" />
		</div>
		<div class="form-group">
			<label>Category :</label>
			<select class="form-control" name="CategoryID">
				@foreach (var category in Model.Categories)
				{
					<option value="@category.ID">@category.Name</option>
				}

			</select>
		</div>
		<div class="form-group">
			@Html.Label("Price:")
			<input name="ActualAmount" class="form-control" />
		</div>
		<div class="form-group">
			<br />
			@Html.Label("Description:")
			<input name="Description" class="form-control" />
		</div>
		<div class="form-group">
			@Html.Label("StartingTime:")
			<input name="StartingTime" class="form-control" />
		</div>
		<div class="form-group">
			@Html.Label("EndingTime:")
			<input name="EndingTime" class="form-control" />
		</div>
		<div class="form-group">
			@Html.Label("Select Pictures:")
			<input id="auctionPictures" class="form-control" name="AuctionPictures" type="file" multiple />
			<div id="picturesArea" class="mt-2"></div>
			<input type="hidden" name="AuctionPictures" id="pictureIDs" />
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		<button type="button" id="saveButton" class="btn btn-outline-secondary">Save Auctions</button>
	</div>
</form>

@section Scripts{

<script>
	$("#saveButton").click(function () {


		var imageIDs = [];
		$("#picturesArea .image").each(function () {

			var imageID = $(this).attr("data-id");
			imageIDs.push(imageID);
		});

		$("#pictureIDs").val(imageIDs.join());

		$.ajax({
			url: "@Url.Action("Create","Auctions")",
			type: "post",
			data: $("#CreateForm").serialize()
		}).done(function (response) {


			$("#listingArea").html(response);
			$('#formModal').modal('toggle');
		});
	});

	$("#auctionPictures").change(function () {

		var pictures = this.files;
		var picsData = new FormData();

		for (var i = 0; i < pictures.length; i++) {
			picsData.append("Picture", pictures[i]);
		}

	$.ajax({
		url: "@Url.Action("UploadPictures", "Shared")",
		type: "post",
		data: picsData,
		dateType: "json",
		processData: false,
		contentType: false
	})
		.done(function (responses) {

			for (var i = 0; i < responses.length; i++) {

				var picResponse = responses[i];
				AttachNewImage(picResponse.pictureURL, picResponse.ID);

		    }
	    });
	  });

	function AttachNewImage(imageURL, imageID) {

		var $newimgHTML = $("#imageTemplate").clone();

		$newimgHTML.find(".image").attr("src", "/content/images/" + imageURL);
		$newimgHTML.find(".image").attr("data-id", imageID);

		$("#picturesArea").append($newimgHTML.html());

		//Remove Images on Click
		RemoveImagesOnClick();
	}

  </script>
}