
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form id="CreateForm" action="/Auctions/Create" method="post">

	<div class="form-group">

		@Html.Label("Title :")
		<input name="Title" class="form-control"/>
	</div>
	<div class="form-group">
		@Html.Label("Price:")
		<input name="ActualAmount" class="form-control"/>
	</div>
	<div class="form-group">
		<br />
		@Html.Label("Description:")
		<input name="Description" class="form-control"/>
	</div>
	<div class="form-group">
		@Html.Label("StartingDate:")
		<input name="StartingDate"class="form-control" />
	</div>
	<div class="form-group">
		@Html.Label("EndingDate:")
		<input name="EndingDate" class="form-control"/>
	</div>

	<button type="button" id="saveButton" class="btn btn-outline-secondary">Save</button>

</form>

<script>

	$("#saveButton").click(function () {

		$.ajax({
			url: "@Url.Action("Create","Auctions")",
			type: "post",
			data: $("#CreateForm").serialize()
		}).done(function (response) {

		$("#listingArea").html(response);
		});
	});
</script>