@model MyDealDouble.Web.viewModels.AuctionDetailsViewModel
<div class="row">


	<!-- /.col-lg-3 -->

	<div class="col-lg-12">

		<div class="card mt-4">
			@if (Model.Auction.AuctionPictures != null && Model.Auction.AuctionPictures.Count > 0)
			{
				var firstAuctionPicture = Model.Auction.AuctionPictures.First();

				var i = 0;
				<div id="carouselIndicators" class="carousel slide my-4" data-ride="carousel">
					<ol class="carousel-indicators">
						@foreach (var picture in Model.Auction.AuctionPictures)
						{
							var active = picture == firstAuctionPicture ? "active" : string.Empty;

							<li class="@active" data-target="#carouselIndicators" data-slide-to="@i"></li>
							i++;
						}
					</ol>
					<div class="carousel-inner" role="listbox">

						@foreach (var auctionPicture in Model.Auction.AuctionPictures)
						{
							var active = auctionPicture == firstAuctionPicture ? "active" : string.Empty;
							var PicURL = "/Content/images/" + auctionPicture.picture.URL;

							<div class="@active carousel-item">
								<img class="d-block img-fluid" src="@PicURL">
							</div>
						}
					</div>
					<a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			}
			<div class="card-body">
					<h3 class="card-title">@Model.Auction.Title</h3>
					<h4>
						$@Model.BidsAmount

						@if (Model.LatestBidder != null)
						{
							<text>
								[ @Model.LatestBidder.UserName ]
							</text>
						}

					</h4>
					<p class="card-text">@Model.Auction.Description</p>
					<span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
					4.0 stars
				</div>
			<div class="card-footer text-muted">
				<Button class="btn btn-primary" id="btnBidNow">Bid Now </Button>
			</div>
		</div>
			<!-- /.card -->

			<div class="card card-outline-secondary my-4">
				<div class="card-header">
					Comments
				</div>
				<div class="card-body">

					@if (Model.Comments != null && Model.Comments.Count > 0)
					{
						foreach (var comment in Model.Comments)
						{
							var defaultStars = 5 - comment.Rating;
						    <p>@comment.Text.</p>

							<span class="text-warning float-right">
								<!--Showing Filled stars-->
								@for (int i = 1; i <= comment.Rating; i++)
								{
									<i class="fas fa-star"></i>
								}
								<!--Showing Un filled stars-->
								@for (int i = 1; i <=defaultStars; i++)
								{
									<i class="far fa-star"></i>
								}
							</span>
							<small class="text-muted">
					          Posted by @comment.UserID on @comment.TimeStamp
							</small>
							<hr>
						}
					}
					else
					{
						<p>There are no Comments  on this Auction</p>
						<hr />
					}
					<form id="commentForm">
						<input type="hidden" name="EntityID" value="23" />
						<input type="hidden" name="RecordID" value="@Model.Auction.ID" />
						<div class="form-group">
							<label for="exampleFormControlTextarea1">Write your Comment</label>
							<span class="text-warning float-right">

								<i class="ratingStar far fas-star" data-value="1"></i>
								<i class="ratingStar far fa-star" data-value="2"></i>
								<i class="ratingStar far fa-star" data-value="3"></i>
								<i class="ratingStar far fa-star" data-value="4"></i>
								<i class="ratingStar far fa-star" data-value="5"></i>
							</span>

						    <!----If user not give the  rating we show by default value which is 1 ----->
							<input type="hidden" name="Rating" id="ratingsValue" value="1" />
							<textarea class="form-control" rows="3" name="Text" placeholder="Write your Comment here"></textarea>
						</div>
						<a href="#" type="button" class="btn btn-success" id="btnComment">Leave your Comment</a>
					</form>
				</div>

			</div>
			<!-- /.card -->

		</div>
		<!-- /.col-lg-9 -->

	</div>
<script>

	//Adding Rating Value
	$(".ratingStar").click(function () {
		var starValue = $(this).attr("data-value");
		$("#ratingsValue").val(starValue);
	});

	// This add the fas class in selected star
	$(".ratingStar").hover(function () {

		$(".ratingStar").addClass("far").removeClass("fas");
		$(this).addClass("fas").removeClass("far");
		$(this).prevAll(".ratingStar").addClass("fas").removeClass("far");
	});
	$("#btnBidNow").click(function () {
		$.ajax({
			url: "@Url.Action("Bid", "Bids")",
			type: "post",
			data: {
				ID: '@Model.Auction.ID'
			}
		}).done(function (response) {
			debugger;
			if (response.Success)
			{
				window.location.reload();
			}
			else {
				swal("Error!", response.Message, "error");
			}
		}).fail(function () {
			swal("Error!", "Error Occured. Please try again later.", "error");
		});
	});

	$("#btnComment").click(function () {
		debugger;
		$.ajax({
			url: "@Url.Action("LeaveComment", "Shared")",
			type: "post",
			data: $("#commentForm").serialize()

		}).done(function (response) {
			debugger;
			if (response.Success)
			{
				window.location.reload();
			}
			else {
				swal("Error!", response.Message, "error");
			}
		}).fail(function () {
			swal("Error!", "Error Occured. Please try again later.", "error");
		});
	});
</script>