@model MyDealDouble.Web.viewModels.AuctionsListingViewModels
@{
    ViewBag.Title = "Index";
}

<div class="row">
	<div class="col-lg-12" id="listingArea">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Title</th>
					<th>Description</th>
					<th>Price</th>
					<th>StartingDate</th>
					<th>EndingDate</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var auction in Model.Auctions)
				{
					<tr>
						<td>@auction.Title</td>
						<td>@auction.Description</td>
						<td>@auction.ActualAmount</td>
						<td>@auction.StartingDate</td>
						<td>@auction.EndingDate</td>
						<td>
							<Button class="editButton btn btn-primary" data-id="@auction.ID">Edit</Button>
							<Button class="deleteButton btn btn-danger" data-id="@auction.ID">Delete</Button>
						</td>
					</tr>
				}
			</tbody>
		</table>


		<div id="ContentArea"></div>

		<button id="addNewbutton" type="button" class="btn btn-success">AddNewAuction</button>



		<script>
	$("#addNewbutton").click(function () {

		$.ajax({
			url: "@Url.Action("Create","Auctions")",
			type:"get"
		}).done(function (response) {
			$("#ContentArea").html(response);
		}).fail(function () {
			alert("Sorry ! Try Again")
		});
	});

	$(".editButton").click(function () {

		$.ajax({
			url: "@Url.Action("Edit","Auctions")",
			type: "get",
			data: {
				Id: $(this).attr("data-id")
			}
		}).done(function (response) {
			$("#ContentArea").html(response);
		}).fail(function () {
			alert("Sorry ! Try Again")
		});
	});

	$(".deleteButton").click(function () {

		var result = confirm("Are you sure you want to delte this record !");

		if (result == true) {

			$.ajax({
				url: "@Url.Action("Delete","Auctions")",
				type: "post",
				data: {
					Id: $(this).attr("data-id")
				}
		    }).done(function (response) {

			   $("#listingArea").html(response);
		    });
		}

	});
		</script>

	</div>
</div>