@model MyDealDouble.Web.viewModels.AuctionsListingViewModels
@{
	ViewBag.Title = "Index";
}

<table class="table table-hover">
	<thead>
		<tr>
			<th>Title</th>
			<th>Category</th>
			<th>Description</th>
			<th>Price</th>
			<th>StartingDate</th>
			<th>EndingDate</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var auction in Model.Auctions)
		{
		<tr>
			<td>@auction.Title</td>
			<td>@auction.Category.Name</td>
			<td>@auction.Description</td>
			<td>@auction.ActualAmount</td>
			<td>@auction.StartingTime</td>
			<td>@auction.EndingTime</td>
			<td>
				<Button class="editButton btn btn-primary" data-id="@auction.ID" data-toggle="modal" data-target="#formModal">Edit</Button>
				<Button class="deleteButton btn btn-danger" data-id="@auction.ID" data-toggle="modal" data-target="#deleteModal">Delete</Button>
			</td>
		</tr>
		}
	</tbody>
</table>
<script>
	$(".editButton").click(function () {

		$.ajax({
			url: "@Url.Action("Edit","Auctions")",
			type: "get",
			data: {
				Id: $(this).attr("data-id")
			}
		}).done(function (response) {

			$("#formModal").modal('toggle');
			$("#ContentArea").html(response);

		}).fail(function () {
			alert("Sorry ! Try Again")
		});
	});

	$(".deleteButton").click(function () {
		
		$('#deleteModal').modal('toggle');
		$('#mDeleteButton').attr("data-recordID", $(this).attr("data-id"));
	});		
</script>


