
@{
	Layout = null;
}

<!doctype html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Simple Sidebar - Start Bootstrap Template</title>

	<script src="@Url.Content("/Content/vendor/jquery/jquery.min.js")"></script>
	<script src="@Url.Content("/Content/vendor/bootstrap/js/bootstrap.bundle.min.js")"></script>
	<!-- Custom styles for this template -->
	<link href="~/Content/css/simple-sidebar.css" rel="stylesheet" />
	<!-- Font Awesome cdn -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<!-- Javascript -->
	<script src="@Url.Content("/Content/vendor/jquery/jquery.min.js")"></script>
	<!-- Bootstrap core CSS -->
	<link href="@Url.Content("/Content/vendor/bootstrap/css/bootstrap.min.css")" rel="stylesheet">
</head>
<body>
	<div class="d-flex" id="wrapper">

		<!-- Sidebar -->
		<div class="bg-light border-right" id="sidebar-wrapper">
			<div class="sidebar-heading bold">
				<i class="fas fa-check-double"></i>
			     Dashboard 
			</div>
			<div class="list-group list-group-flush">
				<a class="list-group-item list-group-item-action bg-light" href="@Url.Action("Index","Home")">
					<i class="mr-1 fas fa-home"></i>
					Home
				</a>
				<a class="list-group-item list-group-item-action bg-light" href="@Url.Action("Index","Home")">
					<i class="fas fa-user-shield"></i>
					Dashboard
				</a>
				<a class="list-group-item list-group-item-action bg-light" href="@Url.Action("Index","Categories")">
					<i class="fas fa-sitemap"></i>
					Categories
				</a>
				<a class="list-group-item list-group-item-action bg-light" href="@Url.Action("Index","Auctions")">
					<i class="fas fa-gavel"></i>
					Auctions
				</a>
				<a class="list-group-item list-group-item-action bg-light" href="@Url.Action("Index","Bids")">
					<i class="fas fa-business-time"></i>
					Bids
				</a>
				<a class="list-group-item list-group-item-action bg-light" href="@Url.Action("Index","Categories")">
					<i class="fas fa-comments"></i>
					Comments
				</a>
				<a class="list-group-item list-group-item-action bg-light" href="@Url.Action("Index","Categories")">
					<i class="fas fa-users"></i>
					Users
				</a>
				<a class="list-group-item list-group-item-action bg-light" href="@Url.Action("Index","Categories")">
					<i class="fas fa-user-tag"></i>
					Roles
				</a>
				@*<a href="#" class="list-group-item list-group-item-action bg-light">Overview</a>
		<a href="#" class="list-group-item list-group-item-action bg-light">Events</a>
		<a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
		<a href="#" class="list-group-item list-group-item-action bg-light">Status</a>*@
			</div>
		</div>
		<!-- /#sidebar-wrapper -->
		<!-- Page Content -->
		<div id="page-content-wrapper">

			<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
				<button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
						<li class="nav-item active">
							<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Link</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Dropdown
							</a>
							<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="#">Action</a>
								<a class="dropdown-item" href="#">Another action</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Something else here</a>
							</div>
						</li>
					</ul>
				</div>
			</nav>

			@*<div class="container-fluid">
				<h1 class="mt-4">Simple Sidebar</h1>
				<p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will change.</p>
				<p>Make sure to keep all page content within the <code>#page-content-wrapper</code>. The top navbar is optional, and just for demonstration. Just create an element with the <code>#menu-toggle</code> ID which will toggle the menu when clicked.</p>
			</div>*@
			@RenderBody()
		</div>
		<!-- /#page-content-wrapper -->

	</div>
	<!-- /#wrapper -->
	

	<!-- Menu Toggle Script -->
	@*<script>
		$("#menu-toggle").click(function (e) {
			e.preventDefault();
			$("#wrapper").toggleClass("toggled");
		});
	</script>*@
	<!---LofOff Form --->
	@*<form id="logOffForm" method="post" action="@Url.Action("LogOff","Account")">
		@Html.AntiForgeryToken()
	</form>*@
	@*<script>

			$("#btnLogOff").click(function () {
				$("#logOffForm").submit();
			});
	</script>*@
	<!--Render Section Scripts-->

	@RenderSection("Scripts", required: false);

</body>
</html>
