@model MyDealDouble.Web.viewModels.PageViewModel
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<meta name="author" content="">

	@*<title>@Model.PageTitle - Deal Double</title>
		<meta name="description" content="@Model.PageDescription">*@
	<!-- Javascript -->
	<script src="@Url.Content("~/Content/vendor/jquery/jquery.min.js")"></script>
	<!-- Bootstrap core CSS -->
	<link href="@Url.Content("~/Content/vendor/bootstrap/css/bootstrap.min.css")" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="@Url.Content("~/Content/css/shop-homepage.css")" rel="stylesheet">

	<!-- Font Awesome cdn -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

</head>
<body>
	
	<!---Navbar-->
	@{Html.RenderPartial("_TopMenu");}
	<!-- Page Content -->
	<div class="container">

		@RenderBody()

	</div>
	<!-- /.container -->
	<!-- Footer -->
     
	@{ Html.RenderPartial("_Footer");}

	<!-- Bootstrap  -->
	<script src="@Url.Content("~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js")"></script>
	
</body>
</html>
